<section class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1> Sindri Helpdesk</h1>
    <p> Somos un sistema......</p>
    <p> Cont&aacute;ctenos:</p>
    <p> Tel&eacute;fono: 82134593</p>
    <p> Correo Electr&oacute;nico: sindri@huht.com</p>
</section>