<div id="configuration-wizard">
    <h2>Organizaci&oacute;n</h2>
    <section>
        <%= render :partial => "organization" %>
    </section>
    <h2>&Aacute;reas</h2>
    <section>
        <%= render :partial => "areas" %>
    </section>
    <h2>Categor&iacute;as</h2>
    <section>
        <%= render :partial => "categories" %>
    </section>
</div>