<section class="panel">
    <header class="panel-heading tab-bg-dark-navy-blue ">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#cntScheldule" role="tab" data-toggle="tab">
                    <h4>Datos</h4>
                </a>
            </li>
            <li role="presentation">
                <a href="#cntGantt" id="dgantt" role="tab" data-toggle="tab">
                    <h4>Gr&aacute;fico</h4>
                </a>
            </li>
            <!-- <li role="presentation"><a href="#cntCalendar" role="tab" data-toggle="tab"><h4>Calendario</h4></a></li> -->
        </ul>
    </header>
    <div class="panel-body">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="cntScheldule">
                <%= render :partial => "table_tickets_categories" %>
            </div>
            <div role="tabpanel" class="tab-pane" id="cntGantt">
                <%= render :partial => "graphic_tickets_categories" %>
            </div>
        </div>
    </div>
</section>