<section class="center col-lg-8 col-md-8 col-sm-12 col-xs-12">
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="active"><a href="#">Cronograma</a></li>
      <li role="presentation"><a href="#">Diagrama de Gantt</a></li>
      <li role="presentation"><a href="#">Calendario</a></li>
    </ul>
</section>
