<section class="center col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1>Base de Conocimientos</h1>
    <div class="form-horizontal col-lg-10 col-md-10 center" role="form">
        <div class="input-group" >
            <input type="text" id="key" class="form-control" placeholder="Escriba aquí su búsqueda">
            <div class = "input-group-btn">
                <button id="search" class="btn btn-primary">
                    <i class="glyphicon glyphicon-search"></i>Buscar
                </button>
            </div>    
        </div>
    </div>
    <br>
    <div class="center col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <% if @solutions and @solutions.count > 0 %>
        <% for solution in @solutions %>
            <div class="panel panel-info">
                <div class="panel-body">
                    <h4><%= link_to solution.title, controller: "solution", action: "show", id: solution.id %></h4>
                    <p><%= solution.description %></p>
                </div>
            </div>
        <% end %>
        <% elsif @solutions and @solutions.count = 0 %>
            <div class="panel panel-info">
                <div class="panel-body">
                    <h5>La b&uacute;squeda no gener&oacute; ning&uacute;n resultado</h5>
                </div>
            </div>
        <% end %>
    </div>
    <% if @pagination and @solutions.count > 0%>
    <%= pagination_tag @pagination, "solution", "index" %>
    <% end %>
</section>
